<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="../lib/angular-material.min.css">
  <link rel="stylesheet" href="./css/app.css">
  <title>Using angular css classes</title>
</head>
<body ng-app="myApp" ng-cloak ng-controller="usersController as model">

  <!-- <div ng-controller="usersController as model" layout-padding layout-xs="column" layout-gt-sm="row" layout-wrap>
    <div class="" flex="50" flex-xs="100">
      <md-input-container class="md-block">
        <label>First Name</label>
        <input type="text" ng-model="model.user.firstName" required md-maxlength="10">
      </md-input-container>
    </div>
    <div class="" flex="50" flex-xs="100">
      <md-input-container class="md-block">
        <label>Last Name</label>
        <input type="text" ng-model="model.user.lastName" required md-maxlength="10">
      </md-input-container>
    </div>
    <div class="" flex="50" flex-xs="100">
      <md-input-container class="md-block">
        <label>Favorite Langualge</label>
        <md-select ng-model="model.user.favoriteLanguage" placeholder="Select your favorite language">
          <md-option ng-value="opt" ng-repeat="opt in model.languages">{{ opt }}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="" flex="50" flex-xs="100">
      <md-input-container class="md-block">
        <md-checkbox ng-model="model.user.isBusy" class="md-block">
          Is Busy?
        </md-checkbox>
      </md-input-container>
    </div> -->
    <label for="">First Name</label>
    <input type="text" ng-model="model.user.firstName" ng-required="true">

  </div>

  <!-- Angular Libraries -->
  <script src="../lib/angular.js"></script>
  <script src="../lib/angular-animate.min.js"></script>
  <script src="../lib/angular-aria.min.js"></script>
  <script src="../lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../lib/angular-material.min.js"></script>

  <!-- My Own Libraries -->
  <script src="./app.js" type="text/javascript"></script>
</body>
</html>
